{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-runtime"],
  "env": {
    "development": {
      "sourceMaps": "dev",
      "retainLines": true
    },
    "production": {
      "plugins": [
       "transform-react-constant-elements",
       "transform-react-inline-elements"
      ]
    }
  }
}
