<?xml version="1.0" encoding="utf-8"?>  
<configuration>      
	<appSettings>
		<add key="appRoute" value="almacenes" />
	</appSettings>
    <system.webServer>  	
      <handlers>  
           <add name="iisnode" path="server/index.js" verb="*" modules="iisnode"/>  
     </handlers>  
      <rewrite>  
           <rules>  
                <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">  
                     <match url="iisnode"/>  
                </rule>  
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                      
                    <match url="^server.js\/debug[\/]?" />  
                </rule>  
                <rule name="StaticContent" stopProcessing="true"> 
					<match url="\.(?:jpg|jpeg|css|png|js|ico|html|ttf|woff2|woff)$" />				
					<action type="Rewrite" url="{REQUEST_URI}"/>  
                </rule>                
				<rule name="DynamicContent">  
                     <conditions>  
                          <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>  
                     </conditions>  
                     <action type="Rewrite" url="server/index.js"/>  
                </rule> 				
           </rules> 	   
      </rewrite>  
			<defaultDocument enabled="true">
			  <files>
				<add value="server/index.js" />
			  </files>
			</defaultDocument>	
   </system.webServer>  
 </configuration>