doctype html
html
  body
    header
    
    body
      h1 Hola, #{name}
      p Ha solicitado blanquear su contraseña 
      p Para completar el proceso, siga 
      a.reset-btn(href='#{hashLink}') este enlace
