doctype html
html
  body
    header
    
    body
      h1 Hola, #{name}
      p Gracias por registrarse en el sistema Almacenes. 
      p Para completar el proceso, siga 
      a.reset-btn(href='#{hashLink}') este enlace
